<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
         <ui:composition>
            <header>
                
                    <div class="logo">
                        <h1>Monash Books</h1>
                        <h3>Your choice</h3>
                    </div>
               
                <ul id="navbar">
                    <li><h:link outcome="index">Home</h:link></li>
                    <li><h:form>
                            <h:commandLink action="#{bookController.setupCreate()}">Add Book</h:commandLink>
                    </h:form></li>
                    <li><h:form>
                            <h:commandLink action="#{customerController.setupCreate()}">Add Customer</h:commandLink>
                    </h:form></li>
                   
                    <li><b>Current user : </b>#{indexController.currentUsername}</li>
                    <li><h:form>
                            <h:commandButton action="#{indexController.logout()}" value="Logout"/>

                        </h:form></li>   
                </ul>
            </header>
        </ui:composition>
    </h:body>
</html>

