<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <ui:composition template="../masterpage.xhtml">
            <ui:define name="header">
                <ui:include src="adminHeader.xhtml" />
            </ui:define>
            <ui:define name="content">
                <div id="content">
                    <f:view>
                        <h:form id="myForm">
                            <h1><h:outputText value="Create/Edit Book"/></h1>
                            <h:panelGrid columns="2" style=" margin-left: 350px" >
                                <h:outputLabel value="Title:" for="title" />
                                <h:inputText id="title" value="#{bookController.bookCategory.title}"
                                             title="Title" />
                                <h:outputLabel value="Description:" for="description" />
                                <h:inputText id="description" value="#{bookController.bookCategory.description}"
                                             title="description" />
                                <h:outputLabel value="Author" for="author" />
                                <h:inputText id="author" value="#{bookController.bookCategory.author}"
                                             title="Author" />
                                <h:outputLabel value="Publisher" for="publisher" />
                                <h:inputText id="publisher" value="#{bookController.bookCategory.publisher}"
                                             title="Publisher" />
                                <h:outputLabel value="ISBN" for="ISBN" />
                                <h:inputText id="ISBN" value="#{bookController.bookCategory.isbn}"
                                             title="ISBN" />
                                <h:outputLabel value="Quantity" for="quantity" />
                                <h:inputText id="quantity" value="#{bookController.quantity}"
                                             title="Quantity" />
                                <h:outputLabel value="Publish Date" for="datepicker" />
                                <h:inputText class="datepicker" title="PubDate" value="#{bookController.bookCategory.publishDate}" />
                                
                            </h:panelGrid>
                            <h:commandButton id="create" 
                                             value="Create" rendered="#{empty bookController.bookCategory.id}" action="#{bookController.create()}"/>
                            <h:commandButton id="update" 
                                             value="Update" rendered="#{not empty bookController.bookCategory.id}" action="#{bookController.update()}"/>
                            <h:commandButton id="back" value="Back" action="index"/>
                        </h:form>
                    </f:view>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

