<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="../masterpage.xhtml">
            <ui:define name="header">
                <ui:include src="customerHeader.xhtml" />
            </ui:define>
            <ui:define name="content">
                <div id="content">
                    <div class="titleBox">
                            <div class="clear"></div>
                            <h1>Loaned Book</h1>
                            <div class="clear"></div>
                    </div>
                    <f:view>
                        <h:form>
                            <h:dataTable value="#{loanController.userLoan}" var="item">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{item.id}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="User"/>
                                    </f:facet>
                                    <h:outputText value="#{item.user.name}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Book"/>
                                    </f:facet>
                                    <h:outputText value="#{item.book.bookCategory.title}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="LoanDate"/>
                                    </f:facet>
                                    <h:outputText value="#{item.loanDate}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Actions"/>
                                    </f:facet>
                                    <h:commandButton action="#{loanController.returnBook(item)}" value="Return" />
                                </h:column>
                            </h:dataTable>
                        </h:form>
                    </f:view>

                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

