<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="masterpage.xhtml">
            <ui:define name="content">
                <article style="width: 960px;text-align: left; padding-left: 20px">
                    <h1><br/>
                        Documentation</h1>
                    <p>
                        <br/>
                        Name: Guohua Li
                        <br/>
                        <br/>
                        Student Id: 23953721
                        <br/>
                        <br/>
                        Reference List:
                        <br/>
                        <br/>
                        [1]<b>Password Converter:</b>
                        http://stackoverflow.com/questions/5531455/how-to-encode-some-string-with-sha256-in-java
                        <br/>
                        <br/>
                        [2]<b>Authentication 403 Page redirect:</b>
                        http://blog.eisele.net/2013/01/jdbc-realm-glassfish312-primefaces342.html
                        <br/>
                        <br/>
                        [3]<b>Image source:</b>
                        http://www.softicons.com/free-icons/object-icons/somebooks-icons-by-c55inator/brown-book-icon
                        <br/>
                        <br/>
                        [4]<b>Css and image reference path:</b>
                        http://stackoverflow.com/questions/7376115/absolute-path-name-in-my-template-to-get-resources
                        <br/>
                        <br/>
                        [5]<b>jQuery datepicker in h:form:</b>
                        http://stackoverflow.com/questions/16565798/jquery-datepicker-doesnt-work-when-clicked-add-new-line-link
                    </p>
                </article>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

