

/*******************************************************************************
RESET
*******************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}

.clear {
    float:left;
    width:100%;
    height:10px;
    clear:both;
    overflow:hidden;
}

/******************************************************************************
GLOBAL
*******************************************************************************/
html { 
    height: 100% 
}

body {
    height: 100%;
    margin:0px;
    padding:0px;
    font:14px Arial;
    text-align:center;
    background: #000066;
    display: block;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width:960px;

}
.row {
    width: 95%;
    float: left;
    margin: 0 5px 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #474747;
}
.row a:hover {
    position:relative;
    top:1px;
    left:1px;
}
a {
    color: -webkit-link;
    text-decoration:none;
    cursor: auto;
}
table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}
/*******************************************************************************
HEADER
*******************************************************************************/
header {
    width: 100%;
    margin-top: 15px;
    height: 80px;
    float: left;
}
.logo {
    width: 28%;
    font: bold;
    color: #fff;
    float: left;
}
#navbar {
    margin-top: 10px;
    width: 72%;
    background: #6a6a6a;
    float: left;
    border-radius: 8px;
}
#navbar li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 46px;
    line-height: 46px;
    position: relative;
}
#navbar li:first-child {
    margin-left: 20px;
}
#navbar a {
    line-height: 100%;
    font-weight: bold;
    color: #fff;
    padding: 14px 15px;
    font:16px Arial;
    text-decoration: none;
    border: none;
    display: block;
}
#navbar a:hover {  
    background: #474747;
}

input {
    margin-left: 20px;
    height: 20px;
    font: 16px;
}
input[type="submit"]{
    height: 20px;
    font: 16px Arial;
}
/*****************************************************************************
CONTENT
******************************************************************************/
#content {
    width: 100%;
    height: 500px;
    overflow: scroll;
    float: left;
    background: #fff;
    border-radius: 8px;
    
}
article {
    width: 670px;
    height:700px;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    overflow: scroll;   
}


.titleBox {
    width: 100%;
    display: block;
    background: #cccccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 10px;
    padding-top:10px;
}


.error {
    color: red; font-weight: bold; 
}

sidebar {
    width:280px;
    background-color: #fff;
    border-radius: 8px;
    float: right;
    padding: 0,5px,0,5px;
}

.inner {
    width: 60px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;

}
.inner img {
    width: 60px;
    height:80px;
}
.box {
    width: 230px;
    height: 350px;
    display:inline-table;
    color: #fff;
}
.box img{
    width:200px;
    height:250px;

}
.box a:hover {
    position:relative;
    top:1px;
    left:1px;
}
.info {
    width: 200px;
}
.row img{
    width: 100px;
    height: 150px;
    padding-right: 10px;
    border: none;
}
.row p {
    word-wrap:break-word; 
    word-break:normal;
}


#map-canvas { 
    height: 100% ;
}
/*****************************************************************************
FOOTER
******************************************************************************/
footer {
    width: 100%;
    height: 50px;
    color: #fff;
    display: block;
    border-top: 1px solid grey;
    float: left;

}


